<div class="container">
<h1>Listing <%= @total_dojos %> Dojos</h1>
<table class= 'highlight'>
  <thead>
    <th>Coding Dojo Branch</th>
    <th>Street</th>
    <th>City</th>
    <th>State</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% @dojos.each do |dojo| %>
    <tr>
      <td><%= dojo.branch %></td>
      <td><%= dojo.street %></td>
      <td><%= dojo.city %></td>
      <td><%= dojo.state %></td>
      <td><a href="/dojos/<%= dojo.id %>">Show</a> | <a href="/dojos/<%= dojo.id %>/edit">Edit</a> | <form class="" action="/dojos/<%= dojo.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="Delete">
      </form></td>
    </tr>
    <% end %>
  </tbody>
</table>
<a href="/dojos/new">Add New Dojo</a>
</div>
