<div class="container">
  <h1>New Student</h1>
  <form action="/students" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>First Name:</label><input type="text" name="student[first_name]">
    <label>Last Name:</label><input type="text" name="student[last_name]">
    <label>Email:</label><input type="text" name="student[email]">
    <label>Location: </label>
    <select name="student[dojo_id]" class="browser-default">
      <option value="<%=@dojo.id%>"><%=@dojo.branch%></option>
      <% @dojos.each do |dojo| %>
      <option value="<%=dojo.id%>"><%=dojo.branch%></option>
      <% end %>
    </select>
    <input type="submit" name="" value="Create Student">
  </form>
  <a href="/dojos">Go Back</a>
</div>
